In [4]:
import numpy as np
import pandas as pd
import torch
import torch.nn as nn
import torch.optim as optim
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [5]:
original = pd.read_csv("Solar.csv", encoding='EUC-KR')

In [6]:
original.head()

,일시,태양방위각,태양고도각,발전량태그(단일),발전량태그,기온,강수량,풍속,풍향,습도,...,일사합성1,일사합성2,일사합성3,일사합성4,일사합성5,일사합성6,일사합성7,일사합성8,일사합성9,발전량(Target)
0,2017-01-01 08:00,9.054183,305.880929,1,20171,0.5,0,0.6,70,97.0,...,0.070000,0.070000,0.070000,0.070000,0.070000,0.070000,0.070000,0.070000,0.070000,0.02
1,2017-01-01 09:00,18.291215,316.520616,1,20171,1.5,0,0.3,0,94.0,...,0.350000,0.350000,0.350000,0.350000,0.350000,0.350000,0.350000,0.350000,0.350000,1.43
2,2017-01-01 10:00,25.717324,329.151211,2,20172,2.8,0,0.7,250,87.0,...,0.570683,0.596639,0.803611,0.623862,0.565775,0.572804,0.601640,0.587263,0.568490,4.31
3,2017-01-01 11:00,30.626463,343.864418,3,20173,4.7,0,0.8,270,78.0,...,1.094032,1.250671,1.139555,1.219951,1.144290,1.229677,1.159019,1.151897,1.146153,9.22
4,2017-01-01 12:00,32.359053,0.000000,4,20174,6.7,0,1.0,230,68.0,...,1.412275,1.586492,1.528914,1.536110,1.551077,1.511959,1.497501,1.477924,1.436003,14.42

In [7]:
merge1 = pd.read_csv("1718.csv", encoding='EUC-KR')
merge2 = pd.read_csv("1819.csv", encoding='EUC-KR')
merge3 = pd.read_csv("1920.csv", encoding='EUC-KR')
merge4 = pd.read_csv("2021.csv", encoding='EUC-KR')
merge5 = pd.read_csv("2122.csv", encoding='EUC-KR')
merge6 = pd.read_csv("2223.csv", encoding='EUC-KR')
merge7 = pd.read_csv("2324.csv", encoding='EUC-KR')

In [8]:
merge1.head()

    지점                일시  1시간평균 미세먼지농도(㎍/㎥)
0  156  2017-01-01 00:00               44.0
1  156  2017-01-01 01:00               56.0
2  156  2017-01-01 02:00               54.0
3  156  2017-01-01 03:00               53.0
4  156  2017-01-01 04:00               44.0

In [9]:
original['일시'] = pd.to_datetime(original['일시'])
merge1['일시'] = pd.to_datetime(merge1['일시'])
merge2['일시'] = pd.to_datetime(merge2['일시'])
merge3['일시'] = pd.to_datetime(merge3['일시'])
merge4['일시'] = pd.to_datetime(merge4['일시'])
merge5['일시'] = pd.to_datetime(merge5['일시'])
merge6['일시'] = pd.to_datetime(merge6['일시'])
merge7['일시'] = pd.to_datetime(merge7['일시'])

In [10]:
merged_df = pd.merge_asof(original.sort_values('일시'), 
                           merge1[['일시', '1시간평균 미세먼지농도(㎍/㎥)']].sort_values('일시'), 
                           on='일시', 
                           direction='nearest')

In [11]:
merged_df = pd.merge_asof(original.sort_values('일시'), 
                           merge2[['일시', '1시간평균 미세먼지농도(㎍/㎥)']].sort_values('일시'), 
                           on='일시', 
                           direction='nearest')
merged_df = pd.merge_asof(original.sort_values('일시'), 
                           merge3[['일시', '1시간평균 미세먼지농도(㎍/㎥)']].sort_values('일시'), 
                           on='일시', 
                           direction='nearest')
merged_df = pd.merge_asof(original.sort_values('일시'), 
                           merge4[['일시', '1시간평균 미세먼지농도(㎍/㎥)']].sort_values('일시'), 
                           on='일시', 
                           direction='nearest')
merged_df = pd.merge_asof(original.sort_values('일시'), 
                           merge5[['일시', '1시간평균 미세먼지농도(㎍/㎥)']].sort_values('일시'), 
                           on='일시', 
                           direction='nearest')
merged_df = pd.merge_asof(original.sort_values('일시'), 
                           merge6[['일시', '1시간평균 미세먼지농도(㎍/㎥)']].sort_values('일시'), 
                           on='일시', 
                           direction='nearest')
merged_df = pd.merge_asof(original.sort_values('일시'), 
                           merge7[['일시', '1시간평균 미세먼지농도(㎍/㎥)']].sort_values('일시'), 
                           on='일시', 
                           direction='nearest')

In [15]:
cols = list(merged_df.columns)
cols[-2], cols[-1] = cols[-1], cols[-2]
merged_df = merged_df[cols]

In [22]:
merged_df.head()

,일시,태양방위각,태양고도각,발전량태그(단일),발전량태그,기온,강수량,풍속,풍향,습도,...,일사합성2,일사합성3,일사합성4,일사합성5,일사합성6,일사합성7,일사합성8,일사합성9,1시간평균 미세먼지농도(㎍/㎥),발전량(Target)
0,2017-01-01 08:00:00,9.054183,305.880929,1,20171,0.5,0,0.6,70,97.0,...,0.070000,0.070000,0.070000,0.070000,0.070000,0.070000,0.070000,0.070000,21.0,0.02
1,2017-01-01 09:00:00,18.291215,316.520616,1,20171,1.5,0,0.3,0,94.0,...,0.350000,0.350000,0.350000,0.350000,0.350000,0.350000,0.350000,0.350000,21.0,1.43
2,2017-01-01 10:00:00,25.717324,329.151211,2,20172,2.8,0,0.7,250,87.0,...,0.596639,0.803611,0.623862,0.565775,0.572804,0.601640,0.587263,0.568490,21.0,4.31
3,2017-01-01 11:00:00,30.626463,343.864418,3,20173,4.7,0,0.8,270,78.0,...,1.250671,1.139555,1.219951,1.144290,1.229677,1.159019,1.151897,1.146153,21.0,9.22
4,2017-01-01 12:00:00,32.359053,0.000000,4,20174,6.7,0,1.0,230,68.0,...,1.586492,1.528914,1.536110,1.551077,1.511959,1.497501,1.477924,1.436003,21.0,14.42

In [24]:
merged_df.tail()

,일시,태양방위각,태양고도각,발전량태그(단일),발전량태그,기온,강수량,풍속,풍향,습도,...,일사합성2,일사합성3,일사합성4,일사합성5,일사합성6,일사합성7,일사합성8,일사합성9,1시간평균 미세먼지농도(㎍/㎥),발전량(Target)
32079,2023-11-30 14:00:00,26.757026,31.442280,4,20234,3.3,0,3.1,50,47.0,...,2.058964,2.040513,2.048985,1.980999,2.032285,2.008790,1.998683,1.974334,18.0,34.820550
32080,2023-11-30 15:00:00,19.213961,44.230567,4,20234,2.7,0,4.3,50,50.0,...,1.531478,1.509679,1.505286,1.511529,1.516687,1.498087,1.505205,1.456877,21.0,26.061120
32081,2023-11-30 16:00:00,9.863307,54.964711,2,20232,2.4,0,2.4,20,54.0,...,0.734282,0.801175,0.813638,0.710169,0.781964,0.760058,0.748237,0.728912,16.0,11.787986
32082,2023-11-30 17:00:00,-0.712510,64.129908,1,20231,2.0,0,1.6,50,59.0,...,0.230000,0.230000,0.230000,0.230000,0.230000,0.230000,0.230000,0.230000,6.0,4.309163
32083,2023-11-30 18:00:00,-12.098027,72.283349,1,20231,1.5,0,1.8,50,65.0,...,0.080000,0.080000,0.080000,0.080000,0.080000,0.080000,0.080000,0.080000,NaN,1.989735

In [26]:
column_names = merged_df.columns.tolist()
print(column_names)

['일시', '태양방위각', '태양고도각', '발전량태그(단일)', '발전량태그', '기온', '강수량', '풍속', '풍향', '습도', '증기압', '이슬점온도', '현지기압', '해면기압', '일조', '일사', '전운량', '지면온도', '일사합성0', '일사합성1', '일사합성2', '일사합성3', '일사합성4', '일사합성5', '일사합성6', '일사합성7', '일사합성8', '일사합성9', '1시간평균 미세먼지농도(㎍/㎥)', '발전량(Target)']

In [28]:
merged_df["일사량_제곱"] = merged_df["일사"] ** 2

In [34]:
merged_df.head()

,일시,태양방위각,태양고도각,발전량태그(단일),발전량태그,기온,강수량,풍속,풍향,습도,...,일사합성3,일사합성4,일사합성5,일사합성6,일사합성7,일사합성8,일사합성9,1시간평균 미세먼지농도(㎍/㎥),발전량(Target),일사량_제곱
0,2017-01-01 08:00:00,9.054183,305.880929,1,20171,0.5,0,0.6,70,97.0,...,0.070000,0.070000,0.070000,0.070000,0.070000,0.070000,0.070000,21.0,0.02,0.0049
1,2017-01-01 09:00:00,18.291215,316.520616,1,20171,1.5,0,0.3,0,94.0,...,0.350000,0.350000,0.350000,0.350000,0.350000,0.350000,0.350000,21.0,1.43,0.1225
2,2017-01-01 10:00:00,25.717324,329.151211,2,20172,2.8,0,0.7,250,87.0,...,0.803611,0.623862,0.565775,0.572804,0.601640,0.587263,0.568490,21.0,4.31,0.4761
3,2017-01-01 11:00:00,30.626463,343.864418,3,20173,4.7,0,0.8,270,78.0,...,1.139555,1.219951,1.144290,1.229677,1.159019,1.151897,1.146153,21.0,9.22,1.6384
4,2017-01-01 12:00:00,32.359053,0.000000,4,20174,6.7,0,1.0,230,68.0,...,1.528914,1.536110,1.551077,1.511959,1.497501,1.477924,1.436003,21.0,14.42,2.6569

In [32]:
merged_df.to_csv("merged.csv", index=False)

In [38]:
max_value = merged_df['발전량(Target)'].max()

In [40]:
print(max_value)

49.867033